[submodule "IBM_Blockchain_Platform_for_Multicloud_Automation"]
	path = IBM_Blockchain_Platform_for_Multicloud_Automation
	url = https://github.com/siler23/IBM_Blockchain_Platform_for_Multicloud_Automation
